#addBookBtn{
    background-color: rgb(17, 132, 132);
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
}
body{
    background-color: #e2725b;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 34px;
}
.content{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid grey;
    z-index: 9;
}
.formContainer{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.formContainer input[type=text]{
    width: 270px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: grey;
}
.formContainer input[type=text]:focus{
    background-color: lightblue;
    outline: none;
}
#bookshelf{
    display: grid;
    grid-template-columns: repeat(4,350px);
    gap: 20px;
    
}
.card{
    background-color: #cdc4aa;
    width: 275px;
    height: 275px;
    border-radius: 10px;
    margin-left: 30px;
    border: 4px solid black;
    
}
.cardInfo{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.readDiv{
    text-align: center;
    font-size: 18px;
    background-color: green;
    border-radius: 5px;
    width: 225px;
    height: 30px;
    position: relative;
    left: 23px;
    padding-top: 5px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.notReadDiv{
    text-align: center;
    font-size: 18px;
    background-color: red;
    border-radius: 5px;
    width: 225px;
    height: 30px;
    position: relative;
    left: 23px;
    padding-top: 5px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.removeButton{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    width: 230px;
    height: 30px;
    position: relative;
    left: 23px;
    top: 10px;
    background-color: grey;
    border: 2px solid black;
}
